html{
  scroll-behavior: smooth;
}

*{
  font-family:roza;
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

@font-face{
  font-family: "roza";
  src:url("font.ttf");
}

header {  
  height:70vh;
  width:100%;
  background-image: url("flamingo.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#menu{
  background-color:rgba(0,0,0,0.5); 
  position:fixed;  
  width:100%;
}

#menu li{
  display:inline;
}

#menu li a{
  padding:10px;
  display:inline-block;
  text-decoration: none;
  color:salmon;  
  transition: background.4s;
}

#menu li :hover{
  background-color:#2b9abf;
}

#logo{
  font-size: 80px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 5px 5px 10px 5px black;
  color:salmon;
  display:block;
  align-self: flex-end;
}

#quemSomos{  
  width:40%;  
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.roza{
  color:salmon;
  font-weight: bold;
}

.container{
  display:flex;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 170px;
}

#quemSomos h2{
  color:salmon; 
  width:100vw;
  margin-bottom: 10px;
}

#quemSomos p{
  margin-bottom: 10px;
}

#loja{  
  display:flex;
  flex-flow:row wrap;
  justify-content: space-evenly;  
  width:70vw;
}

.roupas{
  margin:25px;
  
  border-radius:10px;
}

.roupasImg{
  height:300px;
  width:300px;
  border-radius:10px;
}

.roupas p{
  text-align:center;
  color:salmon;
}

button{
  width:120px;
  height:50px;
  border-radius:20px;
  position:relative;
  left:90px;
  margin-bottom:20px;
  cursor:pointer;
  background-color:#00d5ff;
  color:salmon;
  border:none;  
}

button:hover{
  background-color:#ff7300;
  border:2px solid #ff7300;
  color:salmon;
}

table{
  width:600px;
  height:600px;  
}

#trColor{
  background-color:#00d5ff;
}

th,td{   
  border-radius:10px;
  text-align:center;  
  color:salmon;
  font-weight: bold;
}

#footer h2{
  color:salmon;
}

#footer p,h2{
  text-align: center;
}

#cep{
color:salmon;  
}

#footer img{
  height:300px;
  width:auto
}

#linkTopo{
  position:fixed;
  bottom:10px;
  left:10px;
}

@media (max-width: 700px) {
     
  header{
    height:50vh;
    width:auto;  
    background-position: center center;       
  } 

  #menu{
    width:100%;    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #menu li a{    
    font-size: 12px;    
  }

  #quemSomos{
    width:80vw;
  }
  

  
  



